
<section>
  <form ng-submit="addTask()">
    <input type="text" ng-model="newTask" placeholder="Add new task">
    <select ng-model="newPriority">
      <option value="High">High</option>
      <option value="Med">Med</option>
      <option value="Low">Low</option>
    </select>
    <button type="submit">New Task</button>
  </form>
</section>
<section class="newTasks" ng-controller="HomeCtrl">
  <div>
    <table class="task-table">
      <th>Task description</th>
      <th>Priority</th>
      <tr ng-repeat="task in tasks" ng-show="task.complete === false" ng-hide="expiredTask(task) || task.complete === true">
        <td>{{ task.text}}</td>
        <td>{{ task.priority}}</td>
          <td>{{ task.complete}} <input type="checkbox" ng-model="task.complete" ng-change="completedTask(task)"></td>
    </table>
  </div>
</section
